/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

/* styles for the index page go here */
html {
  height: 100%; }

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  height: 100%;
  padding: 0 20px;
  width: 100%; }

table {
  border-collapse: separate;
  border-spacing: 0 2px;
  margin: 10px auto;
  max-width: 960px;
  width: 100%;
  /* tr.row:hover td:nth-child(3) {
     border: 1px solid red;
   }*/ }
  table tr {
    /*overflow: hidden;*/ }
    table tr.body-table th.header-company {
      padding-top: 20px; }
    table tr.row-first td.cell-first {
      border-top: solid 4px white; }
    table tr.row-last td.cell-last {
      border-bottom: solid 4px white; }
    table tr th.header-company {
      color: grey;
      font-size: 7px;
      height: 10px;
      padding: 0px 8px 0 8px;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 25%;
      text-align: left; }
    table tr th.header {
      color: grey;
      font-size: 7px;
      height: 10px;
      padding: 0px 8px 0 8px;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 25%;
      text-align: right; }
    table tr th.header-double {
      color: grey;
      font-size: 7px;
      height: 10px;
      padding: 0px 8px 0 8px;
      text-transform: uppercase;
      vertical-align: bottom;
      width: 25%; }
      table tr th.header-double div.header-stable-teams {
        display: inline-block;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: left; }
      table tr th.header-double div.header-urgency {
        /*display: inline-block;*/
        float: right;
        overflow: hidden;
        position: relative; }
    table tr td.company {
      color: #2b4dba;
      font-size: 0.8em;
      height: 62px;
      font-weight: bold;
      padding: 8px;
      text-transform: uppercase;
      /*vertical-align: middle;*/
      vertical-align: top;
      width: 25%;
      background-color: #e5e5e5;
      text-align: left; }
    table tr td.revenue-high {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #f2f2f2;
      color: #191919;
      text-align: right; }
    table tr td.revenue-medium {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #f2f2f2;
      color: #666666;
      text-align: right; }
    table tr td.revenue-low {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #f2f2f2;
      color: #a5a5a5;
      text-align: right; }
    table tr td.content-revenue-high {
      font-size: 0.6em;
      font-weight: bold;
      /*height: $row-height-content;*/
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #f2f2f2;
      color: #191919;
      text-align: right; }
    table tr td.content-revenue-medium {
      font-size: 0.6em;
      font-weight: bold;
      /*height: $row-height-content;*/
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #f2f2f2;
      color: #666666;
      text-align: right; }
    table tr td.content-revenue-low {
      font-size: 0.6em;
      font-weight: normal;
      height: 38px;
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #f2f2f2;
      color: #a5a5a5;
      text-align: right; }
    table tr td.stability-high {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #ededed;
      color: #191919;
      text-align: right; }
    table tr td.stability-medium {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #ededed;
      color: #666666;
      text-align: right; }
    table tr td.stability-low {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #ededed;
      color: #a5a5a5;
      text-align: right; }
    table tr td.content-stability-high {
      font-size: 0.6em;
      font-weight: bold;
      /*height: $row-height-content;*/
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #ededed;
      color: #191919;
      text-align: right; }
    table tr td.content-stability-medium {
      font-size: 0.6em;
      font-weight: bold;
      /*height: $row-height-content;*/
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #ededed;
      color: #666666;
      text-align: right; }
    table tr td.content-stability-low {
      font-size: 0.6em;
      font-weight: normal;
      height: 38px;
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #ededed;
      color: #a5a5a5;
      text-align: right; }
    table tr td.content-urgency-row {
      font-size: 0.6em;
      font-weight: normal;
      height: 38px;
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #e5e5e5; }
    table tr td.content-urgency-row-alert {
      font-size: 0.6em;
      font-weight: bold;
      /*height: $row-height-content;*/
      padding: 8px;
      text-align: right;
      text-transform: uppercase;
      vertical-align: middle;
      width: 25%;
      background-color: #e5e5e5; }
    table tr td.urgency-row {
      font-size: 0.7em;
      font-weight: bold;
      height: 62px;
      padding: 8px;
      vertical-align: top;
      width: 25%;
      background-color: #e5e5e5; }
      table tr td.urgency-row div.amount-medium {
        color: #666666;
        display: inline-block;
        font-weight: bold;
        /*text-align: left;*/ }
      table tr td.urgency-row div.total-amount {
        color: #7f7f7f;
        display: inline-block;
        font-weight: normal; }
      table tr td.urgency-row div.urgency-high {
        display: inline-block;
        float: right;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        color: #191919; }
      table tr td.urgency-row div.urgency-medium {
        display: inline-block;
        float: right;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        color: #666666; }
      table tr td.urgency-row div.urgency-low {
        display: inline-block;
        float: right;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        color: #a5a5a5; }
      table tr td.urgency-row div.amount-high {
        color: #191919;
        display: inline-block;
        font-weight: bold; }
      table tr td.urgency-row div.amount-medium {
        color: #666666;
        display: inline-block;
        font-weight: bold; }
    table tr td.content-urgency-row div.urgency-medium {
      display: inline-block;
      float: right;
      overflow: hidden;
      position: relative;
      text-transform: uppercase;
      color: #666666; }
    table tr td.content-urgency-row div.urgency-low {
      display: inline-block;
      float: right;
      overflow: hidden;
      position: relative;
      text-transform: uppercase;
      color: #a5a5a5; }
    table tr img.graph {
      float: left;
      overflow: hidden;
      padding-top: 16px;
      position: relative; }
    table tr img.photo {
      float: left;
      overflow: hidden;
      margin-right: 4px;
      position: relative; }
  table tr.content-row-medium td.content-urgency-row-alert div.urgency-medium {
    display: inline-block;
    float: right;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    color: #666666; }
  table tr td.label-high {
    font-size: 0.5em;
    font-weight: normal;
    height: 62px;
    padding: 0 0 0 8px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #020202;
    color: #f9f9f9; }
  table tr td.label-medium {
    font-size: 0.5em;
    font-weight: normal;
    height: 62px;
    padding: 0 0 0 8px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #666666;
    color: #f9f9f9; }
  table tr td.label-low {
    font-size: 0.5em;
    font-weight: normal;
    height: 62px;
    padding: 0 0 0 8px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #e5e5e5;
    color: #595959; }
  table tr td.content-label-high {
    font-size: 0.5em;
    font-weight: normal;
    height: 38px;
    padding: 0 0 0 2px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #b70d0d;
    color: #f9f9f9; }
  table tr td.content-label-medium {
    font-size: 0.5em;
    font-weight: normal;
    height: 38px;
    padding: 0 0 0 2px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #dc850b;
    color: #f9f9f9; }
  table tr td.content-label-low {
    font-size: 0.5em;
    font-weight: normal;
    height: 38px;
    padding: 0 0 0 2px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    width: 25%;
    background-color: #e5e5e5;
    color: #595959; }
  table tr div.manager {
    text-transform: none;
    line-height: 20px; }
  table tr div.function {
    text-transform: none;
    line-height: 14px; }
  table tr div.name {
    display: inline-block;
    line-height: 20px;
    text-transform: none; }
  table tr.row-high:hover td:nth-child(1) {
    background-color: #020202; }
  table tr.row-high:hover td:nth-child(2) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e5e5e5; }
  table tr.row-high:hover td:nth-child(3) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e0e0e0; }
  table tr.row-high:hover td:nth-child(4) {
    background-color: #d6d6d6; }
  table tr.row-medium:hover td:nth-child(1) {
    background-color: #4c4c4c; }
  table tr.row-medium:hover td:nth-child(2) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e5e5e5; }
  table tr.row-medium:hover td:nth-child(3) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e0e0e0; }
  table tr.row-medium:hover td:nth-child(4) {
    background-color: #d6d6d6; }
  table tr.row-low:hover td:nth-child(1) {
    background-color: #d6d6d6; }
  table tr.row-low:hover td:nth-child(2) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e5e5e5; }
  table tr.row-low:hover td:nth-child(3) {
    background: url(images/Graph-50.png) no-repeat 8px 50%;
    background-color: #e0e0e0; }
  table tr.row-low:hover td:nth-child(4) {
    background-color: #d6d6d6; }
  table tr.content-row-high:hover td:nth-child(2) {
    background-color: #fb9999;
    color: #fcfcfc; }
  table tr.content-row-high:hover td:nth-child(3) {
    background-color: #fc6f6f;
    color: #fcfcfc; }
  table tr.content-row-high:hover td:nth-child(4) {
    background-color: #b70d0d;
    color: #fcfcfc; }
  table tr.content-row-medium:hover td:nth-child(2) {
    background-color: #f2c180;
    color: #fcfcfc; }
  table tr.content-row-medium:hover td:nth-child(3) {
    background-color: #f0ab4f;
    color: #fcfcfc; }
  table tr.content-row-medium:hover td:nth-child(4) {
    background-color: #dc850b;
    color: #fcfcfc; }

/*  //////////////////////////////      a       /////////////////////////////////  */
a {
  cursor: pointer;
  color: #fcfcfc; }

/*a.black {
cursor: pointer;
color: black;
font-weight: normal;} */
a:link {
  text-decoration: none; }

/*a:hover {
color: red;}*/
/*a:active {
color: #006A52;}*/
