/* styles for the index page go here */

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

div#container {
  margin: 10px auto;
  max-width: 960px;
}

li.team-row, li.member-row {
  overflow: hidden;
}

li.team-row>div, li.member-row>div {
  float: left;
  width: 25%;
}


//Teams
li.team-row {
  margin-bottom: 4px;
}

li.team-row>div {
  height:  62px;
}

li.team-row.high div.team-name {
  background-color: $default-color *0.01;
}

li.team-row.medium div.team-name {
  background-color: $default-color *0.75;
}

li.team-row.low div.team-name {
  background-color: $default-color *0.9;
}

li.team-row.selected div.team-revenue {
  background-color: $default-color *0.8;
}

li.team-row.medium div.team-revenue, li.team-row.low div.team-revenue {
  background-color: $default-color *0.95;
}
   
li.team-row.selected div.team-stability {
  background-color: $default-color *0.7;
}

li.team-row.medium div.team-stability,li.team-row.low div.team-stability {
  background-color: $default-color *0.98;
}

li.team-row.selected div.team-urgency {
  background-color: $default-color *0.75;
}

li.team-row.medium div.team-urgency,li.team-row.low div.team-urgency {
  background-color: $default-color *0.9;
}

//Teammember row 
li.member-row {
  margin-top: 1px;
}

li.member-row>div {
  height:  40px;
}

// li.member-row:first-child {
//   margin-top: 1px;
// }

// li.member-row:last-child {
//   margin-bottom: 4px;
// }

li.member-row.high div.member-name {
  background-color: $high-urgency-color;
}

li.member-row div.member-revenue {
  background-color: $default-color *0.95;
}

li.member-row div.member-stability {
  background-color: $default-color *0.98;
}

li.member-row div.member-urgency {
  background-color: $default-color *0.9;
}

//Teammember row selected
li.member-row.selected div.member-revenue {
  background-color: $high-urgency-revenue-color;
}

li.member-row.selected div.member-stability {
  background-color: $high-urgency-stability-color;
}

li.member-row.selected  div.member-urgency {
  background-color: $high-urgency-color;
}

div.member-details {
  background-color: $default-color *0.9;
  border: 1px solid $high-urgency-color;
  height: 160px;
}



